[Desktop Entry]
Type=Application
Exec=PLACEHOLDER/thunderbird/thunderbird
Icon=PLACEHOLDER/thunderbird/chrome/icons/default/default256.png
Terminal=false
Categories=Network;Email;